body{
   
  

    /* background: -webkit-linear-gradient(to top, #061700, #52c234); 
    background: linear-gradient(to top, #061700, #52c234); */
  
     /* Chrome 10-25, Safari 5.1-6 
   ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
   background-color:chocolate;
   
   

}


#command_area{
    background-color: black;
    color: green;
}